<h1>Login Registered User</h1>

<form action="/session" method="POST">
    <%= auth_token %>

    <label for="user_username">Username</label>
    <input id="user_username" name="user[username]" type="text">
    <br>

    <label for="user_password">Password</label>
    <input id="user_password" name="user[password]" type="password">
    <br>

    <input type="submit" value="Log in">

</form>